@import "tailwindcss";

/* Tema personalizado */
:root {
  --color-primary: #1E3A8A; /* Azul oscuro */
  --color-secondary: #f5880b; /* Amarillo */
  --color-accent: #10B981; /* Verde */
  --color-background: #F3F4F6; /* Gris claro */
  --color-text: #111827; /* Gris oscuro */
}

/* Animaciones para toasts */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}
